In [19]:
import pandas as pd
import os
import glob
from pathlib import Path
import time

In [20]:
start_time = time.time()  # Record the start time

pathway = str(  Path(r'C:\Users\stree\OneDrive\Desktop\Selenium\01projeto\zSSP\Output_file\*.csv')  )
files = glob.glob(pathway)

dfs = []

for file in files:
    df = pd.read_csv(file, sep=';')
    dfs.append(df)


all_dataframe = pd.concat(dfs, ignore_index=True)

end_time = time.time()  # Record the end time

elapsed_time = end_time - start_time  # Calculate elapsed time
print(f'Loading time: {round(elapsed_time, 2)} ')

C:\Users\stree\AppData\Local\Temp\ipykernel_31392\2718041950.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_dataframe = pd.concat(dfs, ignore_index=True)

Loading time: 3.01

In [21]:
all_dataframe[['Regiao', 'Municipio', 'Delegacia']]

                    Regiao    Municipio         Delegacia
0                Araçatuba  Alto Alegre  DM - Alto Alegre
1                Araçatuba  Alto Alegre  DM - Alto Alegre
2                Araçatuba  Alto Alegre  DM - Alto Alegre
3                Araçatuba  Alto Alegre  DM - Alto Alegre
4                Araçatuba  Alto Alegre  DM - Alto Alegre
...                    ...          ...               ...
34012  São José dos Campos      Ubatuba      DM - Ubatuba
34013  São José dos Campos      Ubatuba      DM - Ubatuba
34014  São José dos Campos      Ubatuba      DM - Ubatuba
34015  São José dos Campos      Ubatuba      DM - Ubatuba
34016  São José dos Campos      Ubatuba      DM - Ubatuba

[34017 rows x 3 columns]